.navigation {
  max-width: 381px;
  font-family: var(--main-font-family);
}

.navigation__links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation__links-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.navigation__links-item:first-of-type {
  margin-left: 0;
}

.navigation__register-link {
  /* display: flex;
  align-items: center; */
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation__login-link {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 76px;
  height: 32px;
  background-color: var(--main-color-third);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

.navigation__movies-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}

.navigation__save-films-link {
  margin-left: 20px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}

.navigation__profile-link {
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.navigation__accaunt-image {
  width: 26px;
  height: 30px;
  margin-left: 17px;
  padding: 8px 7.25px;
  border-radius: 4px;
  box-sizing: border-box;

  background-color: #f9f9f9;
}

.navigation__burger-button {
  display: none;
  transition-duration: 0.25s;
}

.navigation__menu-btn {
  display: flex;
  align-items: center;
  position: relative;

  width: 28px;
  height: 23px;

  cursor: pointer;
  z-index: 1;
}

.navigation__menu-btn > span,
.navigation__menu-btn > span::before,
.navigation__menu-btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #000000;

  transition-duration: 0.25s;
}
.navigation__menu-btn > span::before {
  content: "";
  top: -7px;
}
.navigation__menu-btn > span::after {
  content: "";
  top: 7px;
}

#navigation__menu-toggle {
  display: none;
}

#navigation__menu-toggle:checked ~ .navigation__menu-btn > span {
  transform: rotate(45deg);
}
#navigation__menu-toggle:checked ~ .navigation__menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#navigation__menu-toggle:checked ~ .navigation__menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

@media all and (max-width: 768px) {
  .navigation__burger-button {
    display: flex;
    margin-right: 27px;
    justify-content: space-between;
    align-items: center;
  }
}
