.movies-card-list {
  width: 100%;
  min-width: 320px;
}

.movies-card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 358px);
  gap: 32px;
  margin: 0 auto;

  max-width: 1140px;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 0;
  list-style: none;
}

.movies-card-list__pagination {
  padding: 50px 0 80px;
  text-align: center;
}

.movies-card-list__append-button {
  width: 320px;
  height: 36px;
  background-color: var(--main-color-button);
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: background-color 0.2s ease-out;
}

.movies-card-list__append-button:hover {
  background-color: #d1d1d165;
}

.movies-card-list__caption {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 28px;

  text-align: center;
  color: var(--main-color-text);
}

@media all and (max-width: 1200px) {
  .movies-card-list__container {
    padding: 70px 30px 30px;
    grid-template-columns: repeat(auto-fill, 342px);
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media all and (max-width: 440px) {
  .movies-card-list__container {
    padding: 70px 30px 30px;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 35px;
    row-gap: 24px;
  }

  .movies-card-list__pagination {
    padding: 60px 0 70px;
    text-align: center;
  }

  .movies-card-list__append-button {
    width: 240px;
  }

  .movies-card-list__caption {
    font-size: 16px;
  }
}
