.header {
  display: none;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 1;
}

.header__container {
  min-width: 320px;
  max-width: 1140px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media all and (max-width: 1200px) {
  .header__container {
    padding: 0 30px;
  }
  .header_deactive_padding {
    padding: 0 0;
  }
}

@media all and (max-width: 440px) {
  .header__container {
    padding: 0 14px;
  }

  .header_deactive_padding {
    padding: 0 0;
  }
}
