:root {
  --main-color-first: #5c5c5c;
  --main-color-second: #f5f5f5;
  --main-color-third: #2be080;
  --main-color-fourth: #fafafa;
  --main-color-accent: #ee3465;
  --main-color-text: #a0a0a0;
  --main-color-button: #f9f9f9;

  --main-font-family: Inter, Arial, sans-serif;
}
