.footer {
  display: none;
  width: 100%;
  background: var(--main-color-fourth);

  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__container {
  min-width: 320px;
  max-width: 1140px;
  box-sizing: border-box;
  padding: 80px 0 20px;
  margin: 0 auto;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  color: var(--main-color-text);
  font-weight: 400;
  font-size: 13px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
  box-sizing: border-box;
}

.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__item {
  margin-left: 20px;
}
.footer__link {
  color: black;
  text-decoration: none;

  transition: color 0.25s ease-out;
}

.footer__link:hover {
  color: #36363665;
}

@media all and (max-width: 1200px) {
  .footer__container {
    padding: 80px 30px 20px;
  }
}

@media all and (max-width: 530px) {
  .footer {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    padding: 80px 10px 10px;
  }

  .footer__navigation {
    flex-direction: column-reverse;
  }

  .footer__links {
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
  }

  .footer__item {
    margin-left: 0;
    margin-bottom: 12px;
  }
  .footer__item:last-of-type {
    margin-bottom: 0;
  }

  .footer__copyright {
    color: var(--main-color-text);
  }
}
