.portfolio {
  width: 100%;
}

.portfolio__container {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 130px;
}

.portfolio__title {
  margin: 0;
  padding-bottom: 23px;
  text-align: left;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: var(--main-color-text);
}

.portfolio__products {
  padding: 0;
  list-style: none;
  font-family: var(--main-font-family);
  font-size: 30px;
  line-height: 50px;

  letter-spacing: -0.04em;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__item:not(:first-child) {
  padding-top: 20px;
}

.portfolio__link {
  text-decoration: none;
  color: #000000;
  transition: color 0.2s ease-in-out;
}

.portfolio__link::after {
  background-color: #000000; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.2s ease-in-out;
  -moz--transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.portfolio__link:hover:after,
.portfolio__link:focus:after {
  width: 100%;
}

/* .portfolio__link:hover {
  color: #818181;
  text-decoration: underline;
} */

.portfolio__image {
  width: 16px;
  height: 17px;
}
